<div
  class="flex p-4 text-lg gap-16 sticky top-0 bg-white/50 backdrop-blur-md shadow-sm"
>
  <p>jtpotato's Blog</p>
  <a href="/">
    <p class="underline decoration-purple-400 decoration-4">Home</p>
  </a>
</div>
<br />
