---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  slug: string;
}

const { title, description, pubDate, slug } = Astro.props;
---

<a href={`/posts/${slug}`}>
  <div class="flex items-center gap-8">
    <p class="text-secondary">
      {
        pubDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </p>
    <div class="">
      <h4 class="font-bold text-lg">{title}</h4>
      <p class="">{description}</p>
    </div>
  </div>
</a>
